{% block content %}
{% load static %}

<!-- Турниры (item) -->
<div class="program d-flex ftco-animate">
    <div class="icon d-flex justify-content-center align-items-center">
        <span class="flaticon-gym"></span>
    </div>
    <div class="text ml-5">
        <h3>Дата начала турнира: {{ tournaments_view.tournaments_time_begin|date:"F j, Y" }}</h3>
        <h3>Дата окончания турнира: {{ tournaments_view.tournaments_time_end|date:"F j, Y" }}</h3>
        <p>{{ tournaments_view.tournaments_name }}, г. {{ tournaments_view.tournaments_town }}, {{ tournaments_view.tournaments_region }}</p>
        {% if tournaments_view.tournaments_sponsors %}
            <h3>Спонсоры: {{ tournaments_view.tournaments_sponsors }}</h3>
        {% endif %}
        <p><a href="{% url 'zayavka_june' %}" class="btn btn-primary btn-outline-primary px-4 py-3">Подать заявку на участие</a></p>
        {% if tournaments_view.tournaments_provisions_dk %}
            <h3>Положения GFP на турнир с прохождением допинг-контроля</h3>
            <p><a href="{{ tournaments_view.tournaments_provisions_dk }}" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
        {% endif %}
        {% if tournaments_view.tournaments_provisions_bezdk %}
            <h3>Положения GFP на турнир без прохождения допинг-контроля</h3>
            <p><a href="{{ tournaments_view.tournaments_provisions_bezdk }}" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
        {% endif %}
        {% if tournaments_view.tournaments_nominations %}
            <h3>Номинации GFP к турниру</h3>
            <p><a href="{{ tournaments_view.tournaments_nominations }}" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
        {% endif %}
        {% if tournaments_view.tournaments_nominations %}
            <h3>Итоговый протокол GFP к турниру</h3>
            <p><a href="../../static/images/documents/OMT_Bryansk_itogovy_protokol_12_05_2019%20(xlsx).xlsx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
        {% endif %}
    </div>
</div>

{% endblock %}