{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(../../static/images/zayavka_sudia/zayavka_sudia_gfp_img_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">ОН-ЛАЙН ЗАЯВКА</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Домашняя</a></span> <span>Он-лайн заявка для судейства</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 pr-md-5">
                <div class="heading-section text-md-right ftco-animate">
                    <h2 class="mb-4">Здесь предсталены официальные документы федерации GFP/Global Federation of Powerlifting для судейства на соревнованиях. Пожалуйста, ознакомьтесь с ними</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="program d-flex ftco-animate">
                    <div class="text ml-5">
                        <h3>Правила для квалификации судей в федерации GFP</h3>
                        <p><a href="https://drive.google.com/open?id=1t7xL6LoWSmdO4A4pNPKc1FKwuvsf1Fxt" download="" class="btn btn-primary btn-outline-primary px-4 py-3" target="_blank">Скачать</a></p>
                    </div>
                </div>
                <div class="program d-flex ftco-animate">
                    <div class="text ml-5">
                        <h3>Вопросы для квалификации судей в федерации GFP</h3>
                        <p><a href="https://drive.google.com/open?id=1vyYSTKvu4JSgFUk0sjBp0GO9AT2K5LH5" download="" class="btn btn-primary btn-outline-primary px-4 py-3" target="_blank">Скачать</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container mt-5">
        <div class="row block-9">
            <div class="col-md-4 contact-info ftco-animate">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h2 class="h4">Контактная информация:</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Адрес:</span> 305038 Мыльникова, 2, Курск, Россия</p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Телефон:</span> <a href="tel://1234567920">58-91-33</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@gfp-russia.ru</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Веб-сайт:</span> <a href="#">gfp-russia.ru</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate">
                <form action="#" class="contact-form" method="post">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input required type="text" class="form-control" name="{{ form.last_name.name }}" value="{{ request.POST.name}}" placeholder="Фамилия">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input required type="text" class="form-control" name="{{ form.first_name.name }}" value="{{ request.POST.name}}" placeholder="Имя">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input required type="text" class="form-control" name="{{ form.middle_name.name }}" value="{{ request.POST.name}}" placeholder="Отчество">
                            </div>
                        </div>
                    </div>
{#                    <div class="form-group">#}
{#                        <input type="tel" class="form-control" name="{{ form.gender.name }}" value="{{ request.POST.name}}" placeholder="Муж./Жен.">#}
{#                    </div>#}
                    <div class="form-group">
                        <input required type="tel" class="form-control" name="{{ form.phone.name }}" value="{{ request.POST.name}}" placeholder="Телефон">
                    </div>
                    <div class="form-group">
                        <input required type="email" class="form-control" name="{{ form.email.name }}" value="{{ request.POST.name}}" placeholder="Ваш email">
                    </div>
                    <div class="form-group">
                        <input required type="number" class="form-control" name="{{ form.age.name }}" value="{{ request.POST.name}}" placeholder="Ваш фактический возраст (полных лет)">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" name="{{ form.country.name }}" value="{{ request.POST.name}}" placeholder="Страна проживания">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" name="{{ form.region.name }}" value="{{ request.POST.name}}" placeholder="Область/Регион">
                    </div>
                    <div class="form-group">
                        <input required type="text" class="form-control" name="{{ form.town.name }}" value="{{ request.POST.name}}" placeholder="Город проживания">
                    </div>
                    <div class="form-group">
                        <textarea required name="{{ form.message.name }}" value="{{ request.POST.name }}" id="" cols="30" rows="7" class="form-control" placeholder="Пожалуйста, укажите были ли Вы судьей в каких-либо соревнованиях по пауэрлифтингу"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Отправить заявку!" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}