{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(../../static/images/about_us/);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">GFP</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Домашняя</a></span> <span>О нас</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-md-6 pr-md-5">
    				<div class="heading-section text-md-right ftco-animate">
	          	<span class="subheading">GFP</span>
	            <h4 class="mb-4">Global Federation of Powerlifting - Всемирная Федерация пауэрлифтинга ( силового троеборья). Организация пауэрлифтинга без экипировки и в экипировке (принятые сокращения GFP), далее «Федерация» или «GFP» — независимая спортивная организация, созданная для развития безэкипировочного и экипировочного пауэрлифтинга (силового троеборья), с целью выявления и поддержки сильнейших спортсменов, показывающих рекордные результаты в отдельных дисциплинах и в сумме трех движений пауэрлифтинга.</h4>
	            <h4 class="mb-4">GFP считает важнейшей задачей федерации массовое привлечение к здоровому образу жизни и силовому спорту в мире, а так же обеспечение атлетов любых возрастов и спортсменов с ограниченными возможностями достойными условиями для выступления на соревнованиях GFP.</h4>
	          </div>
    			</div>
    			<div class="col-md-6">
    				<div class="program d-flex ftco-animate">
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-workout"></span>#}
{#							</div>#}
							<div class="text ml-5">
{#								<h3>Технические правила федерации GFP/Global Federation of Powerlifting</h3>#}
								<p>Федерация GFP проводит соревнования по следующим дисциплинам: пауэрлифтинг, пауэрлифтинг с применением коленных бинтов, пауэрлифтинг в экипировке, двоеборье, двоеборье с применением коленных бинтов, двоеборье в экипировке, силовое двоеборье, силовое двоеборье с применением коленных бинтов,силовое двоеборье в экипировке, жим лежа, жим лежа в экипировке, становая тяга и становая тяга в экипировке.

                                <p>Соревнования проводятся в дивизионах «Любители» и «Профессионалы», с учетом разделения по весовым категориям, полу и возрасту.</p>

                                <p>GFP заинтересована в развитии пауэрлифтинга (силового троеборья) и настроена на позитивные и гармоничные отношения со всеми организациями и федерациями занятыми работой в сфере продвижения пауэрлифтинга и других силовых видов спорта.</p>

<p>GFP может признавать результаты и рекорды турниров иных организаций и федераций показанные в рамках правил не противоречащих правилам GFP.</p>
{#                                <p><a href="../../static/images/documents/01Global_Federation_Powerlifting_pravila.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>#}
							</div>
  					</div>
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-gym"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Нормативы всемирной федерации силового троеборья GFP/Global Federation of Powerlifting</h3>#}
{#								<p>Всероссийский мастерский турнир среди клубов World Class по жиму лежа без экипировки, становой тяге и народному жиму по версии rpf, Москва</p>#}
{#                                <p><a href="../../static/images/documents/01Global_Federation_Powerlifting_normativi.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-workout"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Weight Lifting</h3>#}
{#								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-meditation"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Yoga Classes</h3>#}
{#								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-stationary-bike"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Cardio Training</h3>#}
{#								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#							</div>#}
{#  					</div>#}
    			</div>
    		</div>
{#            <div class="row mt-5">#}
{#          <div class="col text-center">#}
{#            <div class="block-27">#}
{#              <ul>#}
{#                <li><a href="#">&lt;</a></li>#}
{#                <li class="active"><span>1</span></li>#}
{#                <li><a href="#">2</a></li>#}
{#                <li><a href="#">3</a></li>#}
{#                <li><a href="#">4</a></li>#}
{#                <li><a href="#">5</a></li>#}
{#                <li><a href="#">&gt;</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
    	</div>
    </section>

    <section class="ftco-gallery">
    	<div class="container-wrap">
    		<div class="row no-gutters">
                <div class="col-md-3 ftco-animate">
                    <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_1.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_2.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_3.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
                    <a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_4.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                        <span class="icon-search"></span>
                    </div>
                    </a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_5.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_6.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_7.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_8.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_9.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_10.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_11.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_12.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_13.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_14.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_15.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_16.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_17.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_18.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_19.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                <div class="col-md-3 ftco-animate">
						<a href="gallery.html" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_20.jpg);">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
    						<span class="icon-search"></span>
    					</div>
						</a>
                </div>
                </div>
    	</div>
    </section>


{% endblock content %}