{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Хэдер к новостям (news) -->
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(../../static/images/news/news_gfp_img_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Новости GFP</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Домашняя</a></span> <span>Новости</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Новости (item) -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">Последние новости федерации</h2>
                <p>Всегда будьте в курсе последних новостей из мира Powerlifting!</p>
            </div>
        </div>
        <div class="row d-flex">
            {% for news_images in news_images_1 %}
                {% include 'news/news_item.html' %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}