{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(../../static/images/carousel/header_gfp_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-5 col-sm-12 ftco-animate">
                    <h1 class="mb-4">GFP</h1>
                    <p class="mb-4 mb-md-5"><strong>Всемирная федерация силового троеборья</strong></p>
{#                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>#}
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(../../static/images/carousel/header_gfp_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-5 col-sm-12 ftco-animate">
                    <h1 class="mb-4">GFP</h1>
                    <p class="mb-4 mb-md-5">Массовое привлечение к здоровому образу жизни</p>
{#                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>#}
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(../../static/images/carousel/header_gfp_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-5 col-sm-12 ftco-animate">
                    <h1 class="mb-4">GFP</h1>
                    <p class="mb-4 mb-md-5">Независимая спортивная организация</p>
{#                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>#}
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(../../static/images/carousel/header_gfp_4.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-5 col-sm-12 ftco-animate">
                    <h1 class="mb-4">GFP</h1>
                    <p class="mb-4 mb-md-5">Достойные условия для выступления на соревнованиях</p>
{#                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>#}
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(../../static/images/carousel/header_gfp_5.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-5 col-sm-12 ftco-animate">
                    <h1 class="mb-4">GFP</h1>
                    <p class="mb-4 mb-md-5">Независимый допинг-контроль</p>
{#                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>#}
                </div>

            </div>
        </div>
    </div>

    <div class="slider-item" style="background-image: url(../../static/images/carousel/header_gfp_6.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">

                <div class="col-md-5 col-sm-12 ftco-animate">
                    <h1 class="mb-4">GFP</h1>
                    <p class="mb-4 mb-md-5">Проведение турниров по всему МИРУ!</p>
{#                    <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>#}
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-intro">
    <div class="container-wrap">
        <div class="wrap d-md-flex justify-content-end align-items-xl-end">
            <div class="info">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-account_circle"></span></div>
                        <div class="text">
                            <h3>Константинов Роман Павлович</h3>
                            <p>Президент и основатель федерации Global Federation of Powerlifting</p>
                            <p>+7 961 191-71-11</p>
                            <p>konstantinov-r@yandex.ru</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-account_circle"></span></div>
                        <div class="text">
                            <h3>Жигулина Екатерина Анатольевна</h3>
                            <p>Вице-президент федерации Global Federation of Powerlifting</p>
                            <p>+7 903 870-14-01</p>
                            <p>catia.zhigulina@yandex.ru</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="icon"><span class="icon-send"></span></div>
                        <div class="text">
                            <h3>info@gfp-russia.ru</h3>
                            <p>Россия, г. Курск, ул. Мыльникова, 2	</p>
                            <p>58-91-33	</p>
                            <br>
                            <h3>Открыты: Понедельник - Пятница</h3>
                            <p>8:00 - 23:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url(../../static/images/section_2/home_gfp_img_1.jpg);">
{#        <a href="#" class="icon popup-vimeo d-flex justify-content-center align-items-center">#}
{#            <span class="icon-play"></a>#}
{#        </a>#}
    </div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">О Федерации <span>GFP</span></h2>
        </div>
        <div>
            <p>GFP считает важнейшми задачами федерации массовое привлечение к здоровому образу жизни и силовому спорту в мире, а так же обеспечение атлетов любых возрастов и спортсменов с ограниченными возможностями достойными условиями для выступления на соревнованиях GFP.</p>
            <p><a href="{% url 'about_us' %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Подробнее...</a></p>
        </div>
    </div>
</section>

<section class="ftco-section ftco-bg-dark">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
{#                <span class="subheading">Сервис соревнований</span>#}
                <h3 class="mb-4">Как GFP проводит соревнования</h3>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <span class="flaticon-ruler"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Проверяем экипировку и допускаем до взвешивания</h3>
                        <p>Проверка личной экипировки спортсмена в соответствии с правилами и нормами. Взвешиваем и фиксируем фактический вес спортсмена</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <span class="flaticon-gym"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Проводятся соревнования</h3>
                        <p>Составляем список спортсменов, участвующих в соревнованиях по всем движениям и дивизионам</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <span class="flaticon-tools-and-utensils"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Рекорды</h3>
                        <p>Всемирная федерация силового троеборья закрепляет за спортсменом поставленные им рекорды и признает рекорды других федераций по пауэрлифтингу, если они не противоречат правилам и нормам</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <span class="flaticon-workout"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Записываем и ведем учет данных по каждому спортсмену</h3>
                        <p>Чтобы соревнования не потеряли свою актуальность для каждого из спортсменов, мы ведем строгий учет его достижений</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row align-items-center">
    			<div class="col-md-6 pr-md-5">
    				<div class="heading-section text-md-right ftco-animate">
{#	          	<span class="subheading">Соревнования</span>#}
	            <h2 class="mb-4">Календарь соревнований</h2>
	            <p class="mb-4">Мы рады Вам представить список уже запланированных соревнований по пауэрлифтингу на ближайшие даты. Так же Вы можете ознакомиться с полным списком всех соревнований за 2019 год</p>
	            <p><a href="{% url 'calendar' %}" class="btn btn-primary btn-outline-primary px-4 py-3">Календарь соревнований</a></p>
	          </div>
    			</div>
    			<div class="col-md-6">
    				<div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-gym"></span>
							</div>
							<div class="text ml-5">
								<h3>11-12 мая, 2019</h3>
								<p>Открытый мастерский турнир Брянской области с прохождением (и без) допинг-контроля по пауэрлифтингу, его отдельным движениям жиму лежа, становой тяге, двоеборью, силовому двоеборью и жиму СФО по версии GFP (присвоение до КМС включительно), г. Брянск</p>
                                <h3>Спонсор: Strong Genetic</h3>
                                <p><a href="{% url 'zayavka_may' %}" class="btn btn-primary btn-outline-primary px-4 py-3">Подать заявку на участие</a></p>
                                <h3>Положения GFP на турнир 11-12 мая 2019 с прохождением допинг-контроля</h3>
                                <p><a href="../../static/images/documents/Omt_dk_bryansk_11-12_05_2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
                                <h3>Положения GFP на турнир 11-12 мая 2019 без прохождения допинг-контроля</h3>
                                <p><a href="../../static/images/documents/Omt_bryansk_11-12_05_2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
							</div>
  					</div>
                    <div class="program d-flex ftco-animate">
							<div class="icon d-flex justify-content-center align-items-center">
								<span class="flaticon-gym"></span>
							</div>
							<div class="text ml-5">
								<h3>21-22 июня, 2019</h3>
								<p>Чемпионат Центрального Федерального Округа «Global Federation of Powerlifting» с прохождением (и без) допинг-контроля по пауэрлифтингу, его отдельным движениям жиму лежа, становой тяге, двоеборью, силовому двоеборьюи жиму СФО по версии GFP (присвоение до МСМК включительно), г. Курск</p>
                                <h3>Спонсор: Strong Genetic</h3>
                                <p><a href="{% url 'zayavka_june' %}" class="btn btn-primary btn-outline-primary px-4 py-3">Подать заявку на участие</a></p>
                                <h3>Положения GFP на турнир 21-22 июня 2019 с прохождением допинг-контроля</h3>
                                <p><a href="../../static/images/documents/Chemp_tsfo_dk_Kursk_21-22_06_2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
                                <h3>Положения GFP на турнир 21-22 июня без прохождения допинг-контроля</h3>
                                <p><a href="../../static/images/documents/Chemp_tsfo_Kursk_21-22_06_2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>
							</div>
  					</div>
{#                    <div class="program d-flex ftco-animate">#}
{#                        <div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-gym"></span>#}
{#                        </div>#}
{#							<div class="text ml-5">#}
{#								<h3>1-2 марта, 2019</h3>#}
{#								<p>Турнир по пауэрлифтингу и его отдельным движениям по версии GFP, г. Курск</p>#}
{#                                <h3>Спонсор: Strong Genetic</h3>#}
{#                                <p><a href="{% url 'zayavka' %}" class="btn btn-primary btn-outline-primary px-4 py-3">Подать заявку на участие</a></p>#}
{#                                <h3>Положения GFP на турнир 1-2 марта 2019</h3>#}
{#                                <p><a href="../../static/images/documents/Polozhenie_gfp_1-2marta2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>#}
{#                                <h3>Заявленные участники на турнир 1-2 марта 2019</h3>#}
{#                                <p><a href="../../static/images/documents/Zayavki_GFP_1-2marta_2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>#}
{#                                <h3>Регламент турнира 1-2 марта 2019</h3>#}
{#                                <p><a href="../../static/images/documents/Zayavki_GFP_1-2marta_2019.docx" download="" class="btn btn-primary btn-outline-primary px-4 py-3">Скачать</a></p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-gym"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>15-17.03.2019 (присвоение до МСМК включительно)</h3>#}
{#								<p>Всероссийский мастерский турнир среди клубов World Class по жиму лежа без экипировки, становой тяге и народному жиму по версии rpf, Москва</p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-workout"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Weight Lifting</h3>#}
{#								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-meditation"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Yoga Classes</h3>#}
{#								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#							</div>#}
{#  					</div>#}
{#  					<div class="program d-flex ftco-animate">#}
{#							<div class="icon d-flex justify-content-center align-items-center">#}
{#								<span class="flaticon-stationary-bike"></span>#}
{#							</div>#}
{#							<div class="text ml-5">#}
{#								<h3>Cardio Training</h3>#}
{#								<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#							</div>#}
{#  					</div>#}
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(../../static/images/section_5/counter_gfp_img_1.jpg);" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-10">
        		<div class="row">
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="31">0</strong>
		              	<span>Количество соревнований, которые мы провели</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="2349">0</strong>
		              	<span>Количество спортсменов, которые принимали участие в GFP</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="19">0</strong>
		              	<span>Региональных представителей</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		              	<strong class="number" data-number="27">0</strong>
		              	<span>Поставленных рекордов!</span>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Руководство GFP</span>
            <h2 class="mb-4"></h2>
{#            <p>Мы рады представить Вам наших представителей, которые проводят соревнования в тех или иных регионах России</p>#}
          </div>
        </div>
    		<div class="row">
    			<div class="col-lg-12 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(../../static/images/section_6/predstaviteli_gfp_img_1_1.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Президент и создатель федерации Global Federation of Powerlifting</span>
	    					<h3><a href="#">Константинов Роман</a></h3>
	    					<p>Судья международной категории GFP</p>
                            <br><br><br><br><br><br><br><br><br><br>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="https://vk.com/id359911422" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-vk"></span></a></li>
	                <li class="ftco-animate"><a href="https://www.instagram.com/konstantinov_gfp" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-12 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(../../static/images/section_6/predstaviteli_gfp_img_2.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Вице-президент федерации Global Federation of Powerlifting.</span>
	    					<h3><a href="#">Жигулина Екатерина</a></h3>
	    					<p>Мастер спорта по становой тяге WRPF, мастер спорта международного класса по жиму лёжа СПР/WRPF, мастер спорта по пауэрлифтингу СПР. Судья международной категории.</p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="https://vk.com/poweruniversal" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-vk"></span></a></li>
	                <li class="ftco-animate"><a href="https://www.instagram.com/vselennaia_sili" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
{#    			<div class="col-lg-6 d-flex">#}
{#    				<div class="coach d-sm-flex align-items-stretch">#}
{#	    				<div class="img order-xl-last" style="background-image: url(../../static/images/trainer-3.jpg);"></div>#}
{#	    				<div class="text py-4 px-5 ftco-animate">#}
{#	    					<span class="subheading">Owner / Head Coach</span>#}
{#	    					<h3><a href="#">James Buffer</a></h3>#}
{#	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#	    					<ul class="ftco-social-media d-flex mt-4">#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>#}
{#	              </ul>#}
{#	    					<p></p>#}
{#	    				</div>#}
{#	    			</div>#}
{#    			</div>#}
{#    			<div class="col-lg-6 d-flex">#}
{#    				<div class="coach d-sm-flex align-items-stretch">#}
{#	    				<div class="img order-xl-last" style="background-image: url(../../static/images/trainer-4.jpg);"></div>#}
{#	    				<div class="text py-4 px-5 ftco-animate">#}
{#	    					<span class="subheading">Owner / Head Coach</span>#}
{#	    					<h3><a href="#">Maricar Collins</a></h3>#}
{#	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#	    					<ul class="ftco-social-media d-flex mt-4">#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>#}
{#	              </ul>#}
{#	    					<p></p>#}
{#	    				</div>#}
{#	    			</div>#}
{#    			</div>#}
    		</div>
    	</div>
    </section>

    <section class="ftco-section img" id="ftco-testimony" style="background-image: url(../../static/images/section_7/otzivi_gfp_img_main.jpeg);"  data-stellar-background-ratio="0.5">
    	<div class="overlay"></div>
	    <div class="container">
	      <div class="row justify-content-center mb-5">
	        <div class="col-md-7 heading-section text-center ftco-animate">
	        	<span class="subheading">Отзывы</span>
	          <h2 class="mb-4">Что говорят наши спортсмены</h2>
	          <p>Станьте частью нашей истории!</p>
	        </div>
	      </div>
	    </div>
	    <div class="container-wrap">
	      <div class="row d-flex no-gutters">
	        <div class="col-lg align-self-sm-end ftco-animate">
	          <div class="testimony">
	             <blockquote>
	                <p>&ldquo;Провёл отличную тренировку в самом крутом зале для пауэрлифтинга г. Курска у GFP. Залы отлично подходят как для пауэрлифтинга, так и для его отдельных движений (становая тяга, жим лёжа), т.к. есть всё необходимое для тренировок, а именно: отличные тяговые грифы, новые скамьи для жима и монолифт 💪 &rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="../../static/images/section_7/otzivi_gfp_img_1.jpg" alt="">
	                </div>
	                <div class="name align-self-center">Ростислав Тихонов <span class="position">Представитель Поволжского ФО </span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony overlay">
	             <blockquote>
	                <p>&ldquo;От соревнований получил много положительных эмоций. Спасибо организаторам турнира, все было по регламенту! Планирую теперь выступить в августе и на этом закончить выступления в этом году, надо отдохнуть, хотя поживем увидим.&rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="../../static/images/section_7/otzivi_gfp_img_2.jpg" alt="">
	                </div>
	                <div class="name align-self-center">Денис Алёшин <span class="position">Фитнес тренер</span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end ftco-animate">
	          <div class="testimony">
	             <blockquote>
	                <p>&ldquo;Место для соревнований очень удачное, бывший известный кинотеатр им. Щепкина, ныне КТЗ "Звездный". Разминочная зона и организация турнира как всегда на уровне! Спасибо друзьям и коллегам по жиму за поддержку и соревновательнный настрой! &rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="../../static/images/section_7/otzivi_gfp_img_3.jpg" alt="">
	                </div>
	                <div class="name align-self-center">Николай Огневой <span class="position">Спортсмен </span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony overlay">
	             <blockquote>
	                <p>&ldquo;14.04.2018 в г.Курск проходил Всероссийский мастерский турнир "Наследие предков" по пауэрлифтингу и его отдельным движениям. Не перестает радовать организация и уютная атмосфера соревнований. За это большое спасибо Константинову Роману и его команде!&rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="../../static/images/section_7/otzivi_gfp_img_4.jpg" alt="">
	                </div>
	                <div class="name align-self-center">Сергей Анцышкин <span class="position">Участник турнира</span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end ftco-animate">
	          <div class="testimony">
	            <blockquote>
	              <p>&ldquo;Сегодня состоялся «Мастерский турнир и открытый чемпионат Орловской области по пауэрлифтингу» на базе Орловского Государственного Университета, одним из спонсоров которого выступил наш фитнес клуб «Система Комплекс»! Это было очень интересное и захватывающее зрелище. Приятно отметить, что турнир собрал “разношерстный” состав участников, многие из которых имеют опыт выступления в пауэрлифтинге, бодибилдинге и кроссфите на турнирах высокого уровня!&rdquo;</p>
	            </blockquote>
	            <div class="author d-flex mt-4">
	              <div class="image mr-3 align-self-center">
	                <img src="../../static/images/section_7/otzivi_gfp_img_5.jpg" alt="">
	              </div>
	              <div class="name align-self-center">Система Комплекс <span class="position">Фитнес клуб, г. Орел</span></div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>

	  <section class="ftco-section">
	  	<div class="container">
	  		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Он-лайн заявка</h2>
            <p>Для того, чтобы принять участие в предстоящих соревнованиях, Вы можете оставить он-лайн заявку</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-6 col-lg-4">
        		<div class="package-program ftco-animate">
        			<div class="img" style="background-image: url(../../static/images/section_8/competition_gfp_img_1.jpg);"></div>
        			<div class="text mt-4">
        				<h3>Участие в соревнованиях для мужчин</h3>
{#        				<span class="d-block mb-4">Он-лайн заявку на участие</span>#}
{#        				<p>Вы можете оставить свои данные и с Вами свяжется региональный представитель</p>#}
        				<div class="d-flex mt-4">
{#        					<p class="price"><sup>Rub </sup>500<sub> / в год</sub></p>#}
        					<p class="btn-custom float-right"><a href="{% url 'zayavka' %}">Он-лайн заявка</a></p>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-6 col-lg-4">
        		<div class="package-program ftco-animate">
        			<div class="img" style="background-image: url(../../static/images/section_8/competition_gfp_img_2.jpg);"></div>
        			<div class="text mt-4">
        				<h3>Участие в соревнованиях для женщин</h3>
{#        				<span class="d-block mb-4">Он-лайн заявку на участие</span>#}
{#        				<p>Вы можете оставить свои данные и с Вами свяжется региональный представитель</p>#}
        				<div class="d-flex mt-4">
{#        					<p class="price"><sup>Rub </sup>500<sub> / в год</sub></p>#}
        					<p class="btn-custom float-right"><a href="{% url 'zayavka' %}">Он-лайн заявка</a></p>
        				</div>
        			</div>
        		</div>
        	</div>
            <div class="col-md-6 col-lg-4">
        		<div class="package-program ftco-animate">
        			<div class="img" style="background-image: url(../../static/images/section_8/competition_gfp_img_3.jpg);"></div>
        			<div class="text mt-4">
        				<h3>Участие в соревнованиях для людей с ограниченными возможностяим</h3>
{#        				<span class="d-block mb-4">Он-лайн заявку на участие</span>#}
{#        				<p>Вы можете оставить свои данные и с Вами свяжется региональный представитель</p>#}
        				<div class="d-flex mt-4">
{#        					<p class="price"><sup>Rub </sup>500<sub> / в год</sub></p>#}
        					<p class="btn-custom float-right"><a href="{% url 'zayavka' %}">Он-лайн заявка</a></p>
        				</div>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-6 col-lg-4">
        		<div class="package-program ftco-animate">
        			<div class="img" style="background-image: url(../../static/images/section_10/gallery_gfp_img_14.jpg);"></div>
        			<div class="text mt-4">
        				<h3>Тренировки по пауэрлифтингу в атлетическом клубе "Strong Genetic"</h3>
{#        				<span class="d-block mb-4">Оформление годовой подписки на тренировки</span>#}
{#        				<p>Вы можете заказать у нас подписку на год для того, чтобы заниматься в нашем зале </p>#}
        				<div class="d-flex mt-4">
{#        					<p class="price"><sup>Rub </sup>5000<sub> / в год</sub></p>#}
        					<p class="btn-custom float-right"><a href="{% url 'about_us' %}">Подробнее</a></p>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
	  	</div>
	  </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Последние новости федерации</h2>
            <p>Всегда будьте в курсе последних новостей из мира Powerlifting!</p>
          </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'news' %}" class="block-20" style="background-image: url('../../static/images/section_9/news_gfp_img_5.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="{% url 'news' %}">Май 11-12, 2019.</a></div>
                  <div><a href="{% url 'news' %}">Г. Брянск</a></div>
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
                </div>
                <h3 class="heading mt-2"><a href="#">Открытый мастерский турнир по пауэрлифтингу и его отдельным движениям</a></h3>
                  <p>В мае 2019 года состоится турнир по пауэрлифтингу</p>
              </div>
            </div>
          </div>
            <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'news' %}" class="block-20" style="background-image: url('../../static/images/section_9/news_gfp_img_4.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="{% url 'news' %}">Март 1-2, 2019.</a></div>
                  <div><a href="{% url 'news' %}">Г. Курск</a></div>
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
                </div>
                <h3 class="heading mt-2"><a href="#">Турнир по пауэрлифтингу и его отдельным движениям. По версии GFP</a></h3>
                  <p>В марте 2019 года состоялся турнир по пауэрлифтингу</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'news' %}" class="block-20" style="background-image: url('../../static/images/section_9/news_gfp_img_1.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="{% url 'news' %}">Сентябрь 21-23, 2018.</a></div>
                  <div><a href="{% url 'news' %}">Г. Балабаново</a></div>
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
                </div>
                <h3 class="heading mt-2"><a href="#">Кубок России по Powerlifting и Всероссийский мастерский турнир по армлифтингу по версиям WAF и "Союза армлифтеров России"</a></h3>
                  <p>Соревнования проводились по следующим дисциплинам: силовое двоеборье, жим лежа, народный жим и становая тяга по версиям GPA/IPO (присвоения до Элиты России включительно)</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'news' %}" class="block-20" style="background-image: url('../../static/images/section_9/news_gfp_img_2.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="{% url 'news' %}">Июнь 16-17, 2018.</a></div>
                  <div><a href="{% url 'news' %}">Г. Орел</a></div>
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
                </div>
                <h3 class="heading mt-2"><a href="#">GFP провела турнир "Орловская крепость"</a></h3>
                <p>Турнир прошел по следующим движениям: по пауэрлифтингу, его отдельным движениям, силовому двоеборью и народному жиму по версиям федераций GPA/IPO и "Союз пауэрлифтеров России", а так же открытый мастерский турнир "Орловская крепость" по армлифтингу по версии федерации "Союз армлифтеров России".</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry align-self-stretch">
              <a href="{% url 'news' %}" class="block-20" style="background-image: url('../../static/images/section_9/news_gfp_img_3.jpg');">
              </a>
              <div class="text py-4 d-block">
              	<div class="meta">
                  <div><a href="{% url 'news' %}">Апрель 20, 2018.</a></div>
                  <div><a href="{% url 'news' %}">Г. Курск</a></div>
{#                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
                </div>
                <h3 class="heading mt-2"><a href="#">Турнир "Наследие предков"</a></h3>
                <p>Подготовка заняла три месяца. Для кого-то это были первые соревнования, первые шаги в мир железного спорта и начало пути к великим свершениям</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
		
{#		<section class="ftco-gallery">#}
{#    	<div class="container-wrap">#}
{#    		<div class="row no-gutters">#}
{#					<div class="col-md-3 ftco-animate">#}
{#						<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_1.jpg);">#}
{#							<div class="icon mb-4 d-flex align-items-center justify-content-center">#}
{#    						<span class="icon-search"></span>#}
{#    					</div>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-md-3 ftco-animate">#}
{#						<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_2.jpg);">#}
{#							<div class="icon mb-4 d-flex align-items-center justify-content-center">#}
{#    						<span class="icon-search"></span>#}
{#    					</div>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-md-3 ftco-animate">#}
{#						<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_3.jpg);">#}
{#							<div class="icon mb-4 d-flex align-items-center justify-content-center">#}
{#    						<span class="icon-search"></span>#}
{#    					</div>#}
{#						</a>#}
{#					</div>#}
{#					<div class="col-md-3 ftco-animate">#}
{#						<a href="#" class="gallery img d-flex align-items-center" style="background-image: url(../../static/images/section_10/gallery_gfp_img_4.jpg);">#}
{#							<div class="icon mb-4 d-flex align-items-center justify-content-center">#}
{#    						<span class="icon-search"></span>#}
{#    					</div>#}
{#						</a>#}
{#					</div>#}
{#        </div>#}
{#    	</div>#}
{#    </section>#}

		



    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

{% endblock content %}