{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="home-slider owl-carousel">

      <div class="slider-item" style="background-image: url(#);" data-stellar-background-ratio="0.5">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center">

            <div class="col-md-7 col-sm-12 text-center ftco-animate">
            	<h1 class="mb-3 mt-5 bread">Руководство федерации GFP</h1>
	            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Домашняя</a></span> <span>Региональные представители</span></p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading"></span>
            <h2 class="mb-4"></h2>
{#            <p>Мы рады представить Вам наших представителей, которые проводят соревнования в тех или иных регионах России</p>#}
          </div>
        </div>
    		<div class="row">
    			<div class="col-lg-12 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(../../static/images/section_6/predstaviteli_gfp_img_1.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Президент и создатель федерации GFP</span>
	    					<h3><a href="#">Константинов Роман</a></h3>
	    					<p>Мастер спорта WPC по становой тяге, кандидат в мастера спорта по пауэрлифтингу. Бронзовый призёр чемпионата Европы WPC 2013, чемпион России WPC 2015. Судья региональной категории по пауэрлифтингу федерации "Союз пауэрлифтеров России"</p>
                            <p><a href="#"><span class="icon icon-phone"></span><span class="text"> +7 961 191-71-11</span></a></p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="https://vk.com/id359911422" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-vk"></span></a></li>
	                <li class="ftco-animate"><a href="https://www.instagram.com/konstantinov_gfp" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
    			<div class="col-lg-12 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(../../static/images/section_6/predstaviteli_gfp_img_2.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Вице-президент федерации</span>
	    					<h3><a href="#">Жигулина Екатерина</a></h3>
	    					<p>Вице-президент федерации Global Federation of Powerlifting</p>
                            <p><a href="#"><span class="icon icon-phone"></span><span class="text"> +7 903 870-14-01
</span></a></p>
	    					<ul class="ftco-social-media d-flex mt-4">
	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
	                <li class="ftco-animate"><a href="https://vk.com/poweruniversal" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-vk"></span></a></li>
	                <li class="ftco-animate"><a href="https://www.instagram.com/vselennaia_sili" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
                <div class="col-lg-12 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(../../static/images/section_6/predstaviteli_gfp_img_3.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Главный секретарь соревнований</span>
	    					<h3><a href="#">Селихова Светлана</a></h3>
	    					<p>Главный секретарь от федерации Global Federation of Powerlifting</p>
                            <p><a href="#"><span class="icon icon-phone"></span><span class="text"> +7 950 874-03-28
</span></a></p>
	    					<ul class="ftco-social-media d-flex mt-4">
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>#}
	                <li class="ftco-animate"><a href="https://vk.com/id91792275" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-vk"></span></a></li>
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>#}
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
                <div class="col-lg-12 d-flex">
    				<div class="coach d-sm-flex align-items-stretch">
	    				<div class="img" style="background-image: url(../../static/images/section_6/predstaviteli_gfp_img_4.jpg);"></div>
	    				<div class="text py-4 px-5 ftco-animate">
	    					<span class="subheading">Главный судья соревнований</span>
	    					<h3><a href="#">Селихов Евгений</a></h3>
	    					<p>Главный судья от федерации Global Federation of Powerlifting</p>
                            <p><a href="#"><span class="icon icon-phone"></span><span class="text"> +7 952 492-91-40
</span></a></p>
	    					<ul class="ftco-social-media d-flex mt-4">
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>#}
	                <li class="ftco-animate"><a href="https://vk.com/id116019873" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-vk"></span></a></li>
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>#}
	              </ul>
	    					<p></p>
	    				</div>
	    			</div>
    			</div>
{#    			<div class="col-lg-6 d-flex">#}
{#    				<div class="coach d-sm-flex align-items-stretch">#}
{#	    				<div class="img order-xl-last" style="background-image: url(../../static/images/trainer-3.jpg);"></div>#}
{#	    				<div class="text py-4 px-5 ftco-animate">#}
{#	    					<span class="subheading">Owner / Head Coach</span>#}
{#	    					<h3><a href="#">James Buffer</a></h3>#}
{#	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#	    					<ul class="ftco-social-media d-flex mt-4">#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>#}
{#	              </ul>#}
{#	    					<p></p>#}
{#	    				</div>#}
{#	    			</div>#}
{#    			</div>#}
{#    			<div class="col-lg-6 d-flex">#}
{#    				<div class="coach d-sm-flex align-items-stretch">#}
{#	    				<div class="img order-xl-last" style="background-image: url(../../static/images/trainer-4.jpg);"></div>#}
{#	    				<div class="text py-4 px-5 ftco-animate">#}
{#	    					<span class="subheading">Owner / Head Coach</span>#}
{#	    					<h3><a href="#">Maricar Collins</a></h3>#}
{#	    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#	    					<ul class="ftco-social-media d-flex mt-4">#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>#}
{#	                <li class="ftco-animate"><a href="#" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>#}
{#	              </ul>#}
{#	    					<p></p>#}
{#	    				</div>#}
{#	    			</div>#}
{#    			</div>#}


    		</div>
            <div class="row mt-5">
{#          <div class="col text-center">#}
{#            <div class="block-27">#}
{#              <ul>#}
{#                <li><a href="#">&lt;</a></li>#}
{#                <li class="active"><span>1</span></li>#}
{#                <li><a href="#">2</a></li>#}
{#                <li><a href="#">3</a></li>#}
{#                <li><a href="#">4</a></li>#}
{#                <li><a href="#">5</a></li>#}
{#                <li><a href="#">&gt;</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
        </div>
    	</div>
    </section>



{% endblock content %}